/**
 * PandaCSS CSS layers
 * View the full documentation at https://panda-css.com/docs/concepts/cascade-layers#layer-css
 */
@layer reset, base, tokens, recipes, utilities;

/* Global App Style */
:root{
  /* Background */
  background: linear-gradient(135deg, #4B0FAA 0%, #4B0FAA 43.23%, #6514E6 100%) no-repeat center center;

  /* Font */
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;

}

html {
  tab-size: 4;
}

body {
  padding: 0;
  line-height: inherit;
}


/* Notification open class */
.notif-open{
  opacity: 1;
}
